%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %a{ data: {"no-turbolink" => true}, href: '/' }
        %span{class: 'navbar-brand logo'}
          Barcode Reader (ver 0.0.1)